"*":
  "atom-beautify":
    general:
      _analyticsUserId: "2e89a6de-80f8-441f-9985-59f5c6db44ca"
    go:
      disabled: true
    html:
      end_with_newline: true
      indent_inner_html: true
    jade:
      beautify_on_save: true
    js:
      beautify_on_save: true
      brace_style: "collapse-preserve-inline"
      end_with_comma: true
      end_with_newline: true
    json:
      beautify_on_save: true
      end_with_comma: true
    jsx:
      beautify_on_save: true
      end_with_comma: true
    php:
      beautify_on_save: true
      default_beautifier: "PHPCBF"
      level: "symfony"
      standard: "PSR2"
    scss:
      beautify_on_save: true
  "atom-ctags":
    buildTimeout: 1000000
    cmdArgs: "--exclude=node_modules --exclude=.git"
    disableComplete: true
  core:
    disabledPackages: [
      "symbols-view"
      "go-debug"
      "go-signature-statusbar"
      "atom-test-framework"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  editor:
    invisibles: {}
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "58d02a9a-829b-8c52-db2a-cea66b9ff12c"
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
  "go-plus":
    disabledBundledPackages: [
      "go-debug"
    ]
    get: {}
    test: {}
  "goto-definition": {}
  hyperclick:
    win32TriggerKeys: "altKey"
  "line-ending-selector":
    defaultLineEnding: "LF"
  linter: {}
  "linter-ui-default":
    panelHeight: 93
    showPanel: true
  "relative-require":
    excludeDirs: [
      "^\\."
      "node_modules"
      "bower_components"
      "spec"
    ]
  "spell-check":
    addKnownWords: true
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".ini.source":
  editor:
    scrollPastEnd: true
    tabLength: 4
